
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/shared/_LayoutHome.cshtml";
}


<div style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style:normal; margin-bottom:160px;margin-top:160px;">
    <h5 style="margin-top:20px;margin-bottom:40px;">Değerli Veli ve Öğrencilerimiz,</h5>


    <p>
        Kurulduğu 1997 yılından beri okulumuz; Atatürk ilke ve devrimlerine olan bağlılığı, köklü kültürü, sağlam yapısı; deneyimli, alanında yetkin öğretim kadrosu, kurumsallaşmış kimliği ile örnek bir kurum olma özelliğini bugüne kadar devam ettirmiştir.

        Türk Milli Eğitim ilkelerine uygun, çağdaş, Atatürk İlke ve İnkılaplarına bağlı eğitim-öğretim vermenin yanı sıra zenginleştirilmiş akademik programı ile amacımız; kişisel ve toplumsal sorumluluk bilincine sahip, özgüvenli, öğrenme yollarına bilen, öğrenmenin ömür boyu devam ettiğini bilen , yaşam boyu ve üst eğitim kurumlarında gerekli olacak akademik bilgi, beceri, sorumluluk ve tutumlara sahip olan, kendi kültürünü özümseyen,çevre ve tüm canlılara duyarlı, farklılıklara saygı gösteren, iyi düzeyde yabancı dil konuşan bireyler  olarak yetiştirmektir .

        Bilge Koleji olarak çok önem verdiğimiz yabancı dil eğitimimizde; öğrencilerimizin çağdaş dünya ile iletişim kurabilmelerini sağlamak, dili etkin olarak kullanacakları ortamları hazırlamak ve öğrenmeyi kalıcı kılmak esastır.
    </p>
    <p>

        Yeni öğretim yılının tüm öğrencilerimiz için sağlıklı, huzurlu mutlu ve başarılarla dolu geçmesi dileğiyle.
    </p>

</div>


