
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/shared/_LayoutHome.cshtml";
}
<div style="font-style:normal; margin-bottom:110px;margin-top:80px;">
    <div>
        <h4>İletişim</h4>
        <p>
            Adres: Küçükcami Mahallesi No:3, Güneysu, Rize 53350

        </p>
        <p>
            Telefon: (0464) 344 24 81
        </p>

    </div>
    <div style="margin-bottom:150px;margin-top:70px;">
        <img src="~/assetsHome/img/konum.png" />
    </div>
</div>


    

